@use "./shared/variables" as *;

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .modeSelection {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;

    fieldset {
      display: flex;
      flex-direction: column;
      border: none;
      align-items: center;

      legend {
        text-align: center;
      }
     

      .modes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 60px 0px;

        .easyBox {
          background: $teal;
        }

        .hardBox {
          background: $lightTeal;
        }

        .modeInputs {
          visibility: hidden;
        }
        label {
          padding: 150px 100px;
          background-color: rgb(255, 210, 181);
          border-radius: 50px;
          transition: 0.5s ease;
          &:hover,
          &:focus {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
