@use "./shared/variables" as *;


.landingPage {
    ul {
        display: flex;
        width: 20%;
        height: 200px;
        justify-content: space-between;
        li {
            background-color: red;
            margin: 20px;
        }
    }
    
}