@use "./variables" as *;

.wrapper {
    max-width: 1400px;
    //height: auto;
    width: 90%;
    margin: 0 auto;
}

section {
    height: 100vh;
}

button {
    border-radius: 25px;
    background-color: transparent;
    padding: 20px;
    width: 40%;
    border: 2px rgb(151, 151, 186) solid;
}

fieldset {
    border: none;
}