@use "./variables" as *;

.wrapper {
    max-width: 1400px;
    //height: auto;
    width: 90%;
    margin: 0 auto;
}

label {
    cursor: pointer;
}

body {
    background-image: url("../assets/background-gbafd6026a_1280.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

section {
    height: 100vh;
}

button {
    border-radius: 25px;
    background-color: transparent;
    padding: 20px;
    width: 40%;
    border: 2px rgb(151, 151, 186) solid;
}

fieldset {
    border: none;
}