@use "./variables" as *;

.wrapper {
    max-width: 1400px;
    //height: auto;
    width: 90%;
    margin: 0 auto;
}
body {
    background-image: url("../assets/background-gbafd6026a_1280.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

section {
    height: 100vh;
}


fieldset {
    border: none;
}