@use "./variables" as *;

html {
    font-size: 62.5%;
}

body {
    font-family: 'Bad Script', cursive;
    font-size: 3.0rem;
    color: $veryDarkTeal;

    h1, h2 {
    font-size: 6.0rem;
    margin-top: 150px;
    font-weight: bold;
    }

    h3 {
        font-size: 5.0rem;
    }

}

