@use "./partials/shared/setup";
@use "./partials/shared/variables" as *;
@use "./partials/shared/typographies";
@use "./partials/landingPage";
@use "./partials/easyMode";
@use "./partials/hardMode";
@use "./partials/endPage";
@use "./partials/shared/mediaQueries";

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.hidden {
    display: none;
    background-color: pink;
}

