@use "./partials/shared/setup";
@use "./partials/shared/variables" as *;
@use "./partials/shared/globalStyles";
@use "./partials/shared/typographies";
@use "./partials/landingPage";
@use "./partials/easyMode";
@use "./partials/hardMode";
@use "./partials/endPage";
@use "./partials/shared/mediaQueries";

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.hidden {
    display: none;
    background-color: pink;
}

.modeSelection{
    label {
        margin: 20px 0 20px 20px;
    }
}

input {
    visibility:hidden;
}

label {
    cursor: pointer;
}

input:checked + label {
    color: red;
}

