html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}
body section {
  height: 70vh;
}

header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
header h1 {
  color: #2d3a3a;
  font-size: 10rem;
  text-align: center;
  margin-bottom: 20px;
}
header .logo {
  width: 6%;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

label {
  cursor: pointer;
}

fieldset {
  border: none;
}

button {
  height: clamp(50px, 0.5vh, 75px);
}

.submit {
  border: none;
  color: #503f39;
  background-color: #ffd2b5;
  height: 75px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 25px;
  width: 300px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.submit:hover, .submit:focus {
  background-color: #ffb395;
  color: white;
}
.submit:disabled {
  background-color: #d3d8d8;
  color: white;
}

.nextButton, .finishButton, .startButton, .restart {
  border-radius: 25px;
  border: none;
  background-color: #679b9b;
  color: #2d3a3a;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  min-width: 300px;
}
.nextButton:hover, .nextButton:focus, .finishButton:hover, .finishButton:focus, .startButton:hover, .startButton:focus, .restart:hover, .restart:focus {
  background-color: #9bc5c5;
  color: white;
}

footer {
  background-color: transparent;
  width: 100%;
  height: 3vh;
  padding-top: 3px;
  margin-top: 65px;
}
footer p {
  font-size: 2rem;
  margin: 0px;
  text-align: right;
  padding-right: 10px;
}

.stackTop {
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(50vh);
          transform: translateY(50vh);
}
.stackTop .loadingIcon {
  -webkit-animation: spin 1.3s infinite linear;
          animation: spin 1.3s infinite linear;
  width: 2em;
  height: 2em;
  position: absolute;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Bad Script", cursive, sans-serif;
  font-size: 3rem;
  color: #2d3a3a;
}

h1, h2 {
  font-size: 6rem;
  font-weight: bold;
}

h3 {
  font-size: 5rem;
}

button {
  font-family: "Bad Script", cursive;
}

.landingPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landingPage .modeSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.landingPage .modeSelection fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landingPage .modeSelection fieldset legend {
  text-align: center;
}
.landingPage .modeSelection fieldset .modes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 60px 0px;
}
.landingPage .modeSelection fieldset .modes .easyBox {
  background: #679b9b;
}
.landingPage .modeSelection fieldset .modes .hardBox {
  background: #9bc5c5;
}
.landingPage .modeSelection fieldset .modes .modeInputs {
  visibility: hidden;
}
.landingPage .modeSelection fieldset .modes label {
  padding: 150px 100px;
  background-color: rgb(255, 210, 181);
  border-radius: 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.landingPage .modeSelection fieldset .modes label:hover, .landingPage .modeSelection fieldset .modes label:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.easyGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.easyGame input:checked + label {
  outline: 5px solid #9bc5c5;
  -webkit-box-shadow: 0px 10px 13px -7px #637373, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #637373, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.easyGame input:disabled + label {
  color: #d3d8d8;
  pointer-events: none;
  outline: none;
}

.poemTitleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  width: 100%;
}
.poemTitleContainer input {
  visibility: hidden;
}
.poemTitleContainer .easyOption {
  padding: 25px;
  gap: 20px;
  background-color: white;
  border-radius: 25px;
  width: 65%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.poemTitleContainer .easyOption:hover, .poemTitleContainer .easyOption:focus {
  -webkit-box-shadow: 0px 10px 13px -7px #637373, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #637373, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.poemTitleContainer .correct {
  border: 5px solid #89c2a0;
}
.poemTitleContainer .incorrect {
  border: 5px solid #ff8676;
}
.poemTitleContainer .resultContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
}
.poemTitleContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 20px;
  margin-top: 25px;
  width: 65%;
}

.hardGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.hardGame .titleContainer {
  width: 80%;
}
.hardGame h3 {
  font-size: 5rem;
}

.hardQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  gap: 25px;
  max-height: 75px;
}
.hardQuestion input {
  all: unset;
  border-style: hidden;
  background-color: white;
  border-radius: 50px;
  width: 80%;
  padding-left: 25px;
}
.hardQuestion input:disabled {
  color: #d3d8d8;
  pointer-events: none;
}
.hardQuestion input:hover, .hardQuestion input:focus {
  outline: 5px solid #ffd2b5;
}
.hardQuestion input::-webkit-input-placeholder {
  color: #ff9a76;
}
.hardQuestion input::-moz-placeholder {
  color: #ff9a76;
}
.hardQuestion input:-ms-input-placeholder {
  color: #ff9a76;
}
.hardQuestion input::-ms-input-placeholder {
  color: #ff9a76;
}
.hardQuestion input::placeholder {
  color: #ff9a76;
}

.resultContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 25px 0;
}
.resultContainer .currentScoreHard {
  -ms-flex-item-align: center;
      align-self: center;
}

.hardQuestion .correct {
  border: 5px solid #89c2a0;
}
.hardQuestion .incorrect input[type=text] {
  border: 5px solid #ff8676;
}

.endPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.endPage .finalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50vh;
  background-color: white;
  border-radius: 50px;
  width: 50%;
  height: 75%;
}
.endPage .finalContent .restart {
  margin-bottom: 50px;
}

.invisible {
  display: none;
}

.hidden {
  display: none;
}