html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

label {
  cursor: pointer;
}

body {
  background-image: url("../assets/background-gbafd6026a_1280.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  height: 100vh;
}

fieldset {
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bad Script", cursive;
  font-size: 3rem;
  color: #2d3a3a;
}
body h1, body h2 {
  font-size: 6rem;
  margin-top: 150px;
  font-weight: bold;
}
body h3 {
  font-size: 5rem;
}

button {
  font-family: "Bad Script", cursive;
}

.landingPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landingPage .imgContainer {
  width: 30%;
  position: relative;
}
.landingPage .imgContainer img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 25%;
  position: absolute;
  left: 350px;
  top: -160px;
}
.landingPage .modeSelection fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landingPage .modeSelection fieldset legend {
  text-align: center;
}
.landingPage .modeSelection fieldset .start {
  border-radius: 25px;
  background-color: transparent;
  padding: 20px;
  width: 40%;
  border: 2px rgb(210, 129, 107) solid;
}
.landingPage .modeSelection fieldset .modes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.landingPage .modeSelection fieldset .modes .modeInputs {
  visibility: hidden;
}
.landingPage .modeSelection fieldset .modes label {
  padding: 200px 150px;
  background-color: rgb(255, 210, 181);
  border-radius: 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.landingPage .modeSelection fieldset .modes label:hover, .landingPage .modeSelection fieldset .modes label:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}


.easyGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
 .hardGame {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}
.hardGame h2 {
  color: #2d3a3a;
  font-size: 10rem;
  margin-bottom: 250px;
}
.hardGame h2 .underline {
  border-bottom: 10px solid #2d3a3a;
}
.hardGame h3 {
  font-size: 5rem;
}

.hardQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}
.hardQuestion input {
  all: unset;
  background-color: white;
  border-radius: 50px;
  width: 80%;
  padding-left: 25px;
  margin: 25px;
}
.hardQuestion input:hover, .hardQuestion input:focus {
  outline: 5px solid #ffd2b5;
}
.hardQuestion input::-webkit-input-placeholder {
  padding: 100px;
}
.hardQuestion input::-moz-placeholder {
  padding: 100px;
}
.hardQuestion input:-ms-input-placeholder {
  padding: 100px;
}
.hardQuestion input::-ms-input-placeholder {
  padding: 100px;
}
.hardQuestion input::placeholder {
  padding: 100px;
}
.hardQuestion .hardSubmit {
  border: none;
  color: #503f39;
  background-color: #ff9a76;
  margin: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hardQuestion .hardSubmit:hover, .hardQuestion .hardSubmit:focus, .hardQuestion .hardSubmit:disabled {
  background-color: #ffb395;
  color: white;
}

.resultContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding: 25px;
  margin-bottom: 20%;
}
.resultContainer button {
  border: none;
  background-color: #679b9b;
  color: #2d3a3a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
}
.resultContainer button:hover, .resultContainer button:focus {
  background-color: #9bc5c5;
  color: white;
}
.resultContainer .currentScoreHard {
  -ms-flex-item-align: center;
      align-self: center;
}

.correct {
  background-color: green;
}

.easyGame h2.easyGameTitle {
  margin: 0;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 20px;
}
.buttonContainer .easySubmit {
  background-color: #FF9A76;
  margin-top: 15px;
}
.buttonContainer .easySubmit:hover, .buttonContainer .easySubmit:focus {
  background-color: #FFB395;
  color: white;
}
.buttonContainer .next {
  background-color: #679B9B;
}
.buttonContainer .next:hover, .buttonContainer .next:focus {
  background-color: #9BC5C5;
  color: white;
}
.buttonContainer .next, .buttonContainer .easySubmit {
  width: 300px;
  border-radius: 25px;
  padding: 20px;
  border: none;
  -webkit-transition: 0.5 ease;
  transition: 0.5 ease;
}

.poemTitleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.poemTitleContainer input {
  visibility: hidden;
}
.poemTitleContainer .easyOption {
  padding: 40px;
  gap: 20px;
  background-color: #FFD2B5;
  border-radius: 25px;
  width: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.poemTitleContainer .easyOption:hover, .poemTitleContainer .easyOption:focus {
  -webkit-box-shadow: 0px 10px 13px -7px #637373, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #637373, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

input:checked + label {
  -webkit-box-shadow: 0px 10px 13px -7px #637373, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #637373, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.hidden {
  display: none;
}

.invisible {
  display: none;
}

.modeSelection label {
  margin: 20px 0 20px 20px;
}

label {
  cursor: pointer;
}